{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% block content %}

<!--some parts taken from https://github.com/wrongakram/html-css-hero-animation/tree/starter-->
<section class="banner" id="banner">
    <div id="bannerBgAddition" class="banner-addition-bg"></div>
    <div id="bannerBg" class="banner-bg"></div>
    <div class="container">
        <div class="row">
            <div class="banner-inner" id="bannerInner">
                <div class="content-outer">
                    <div class="content-inner">
                        <h1>
                            <div class="line">
                                <span>Feeling sad, happy or any type way of?</span>
                            </div>
                            <div class="line">
                                <span>Go ahead and chat to lolly</span>
                            </div>
                        </h1>
                        <p>
                            We know 2020 and 2021 has been a tough year for
                            everyone. We know majority of people are in lock down
                            and have no one to talk to. Lolly is here for anyone to
                            talk to about anything. We've been Helping people over
                            come their emotions since 2020.
                        </p>
                        <div class="btn-row">
                            <a href="/lolly">Chat to Lolly</a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <div class="image-inner">
                        <img src="{% static 'img/lolly_avatar.png' %}" alt="Hand" />
                        <div class="feature-banner" id="featureBanner">
                            Personal Statistics
                        </div>
                        <div class="feature-banner two" id="featureBannerGreen">
                            &nbsp;&nbsp;&nbsp; Free To Use
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Script -->
<script type="text/javascript" src="{% static 'js/face-api.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/emotionData.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>

    // var vid = document.getElementById('video')
    // document.addEventListener('load', function () {
    //     video.setAttribute(visibility, visible);
    // })
    var emotion;
    const video = document.getElementById("video")


    Promise.all([
        faceapi.nets.tinyFaceDetector.loadFromUri('/static/js/models'),
        faceapi.nets.faceLandmark68Net.loadFromUri('/static/js/models'), //drawing on face
        faceapi.nets.faceRecognitionNet.loadFromUri('/static/js/models'), //drawing square aorund face
        faceapi.nets.faceExpressionNet.loadFromUri('/static/js/models'), //emotions dections
    ]).then(startVideo)

    function startVideo()
    {
        navigator.getUserMedia({video:{}},
        stream => video.srcObject = stream,
            err => console.log(err)
    )
    }

    video.addEventListener('play', () => {
        const canvas = faceapi.createCanvasFromMedia(video)
        const displaySize= {width: video.width, height: video.height}

        setInterval(async() => {

            const detections = await faceapi.detectAllFaces(video, new faceapi.TinyFaceDetectorOptions()).withFaceExpressions()
            const resizedDetections =faceapi.resizeResults(detections, displaySize)
            canvas.getContext('2d').clearRect(0,0,canvas.width, canvas.height)
            faceapi.draw.drawFaceExpressions(canvas, resizedDetections)

            //converting dections into json format
            var json_data = JSON.stringify(detections)

            //changing json data to an jobject so i can parse the data
            var json_obj = JSON.parse(json_data)[0]

            //creating a array with emotions indexed so later i can retrive the type of emotion being displayed
            var Emotions = {Happy:json_obj.expressions.happy, Neutral:json_obj.expressions.neutral, Sad:json_obj.expressions.sad, Angry:json_obj.expressions.angry,
                Fearful:json_obj.expressions.fearful, Surprised:json_obj.expressions.surprised, Disgusted:json_obj.expressions.disgusted }

            //checking which emotions is being displayed between 0-1. Which ever emotion is presenting a greater than 0.5 value is being taken as the emotioned displayed
            if(Emotions["Happy"] > 0.5)
            {
                emotion = "Happy";
            }
            else if(Emotions["Neutral"] > 0.5)
            {
                emotion = "Neutral";
            }
            else if(Emotions["Sad"] > 0.5)
            {
                emotion = "Sad";
            }
            else if(Emotions["Angry"] > 0.5)
            {
                emotion = "Angry";
            }
            else if(Emotions["Neutral"] > 0.5)
            {
                emotion = "Neutral";
            }
            else if(Emotions["Fearful"] > 0.5)
            {
                emotion = "Fearful";
            }
            else if(Emotions["Surprised"] > 0.5)
            {
                emotion = "Surprised";
            }

            else if(Emotions["Disgusted"] > 0.5)
            {
                emotion = "Disgusted";
            }
            else
            {
                emotion = "Neutral"
            }


            //sending the emotion to my json server so i can use in rasa
            axios.put('http://localhost:3000/emotion/1', {
                currentEmotion: emotion
            }).then(resp => {

                console.log(resp.data);
            }).catch(error => {

                console.log(error);
            });

            //sending the emotion to my views.py so i can save the emotions with the current logged in user
            $.ajax({
                type: "POST",
                url: "/updateEmotions/",
                data:{
                    emotion: emotion,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                datatype:'json',
                success: function(data) {
                    if (data['success'])
                        console.log("successfully added to user emotions")
                }
            });

        }, 5000)

    })


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

{% endblock %}



