{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    .tap-target-wrapper {
        width: 1050px;
        height: 1050px;
        position: absolute;
        z-index: 1000;
        visibility: hidden;
        -webkit-transition: visibility 0s .3s;
        transition: visibility 0s .3s;
    }
    .tap-target-wave {
        position: fixed;
        border-radius: 20%;
        z-index: 10001;
    }
</style>
<div class="container-fluid">



    <!--chatbot widget -->
    <div class="widget">
        <div class="chat_header">

            <!--Add the name of the bot here -->
            <span class="chat_header_title">Lolly</span>
            <span class="dropdown-trigger" href='#' data-target='dropdown1'>
                  <i class="material-icons">
                  more_vert
                  </i>
               </span>

            <!-- Dropdown menu-->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#" id="clear">Clear</a></li>
                <li><a href="#" id="restart">Restart</a></li>
                <li><a href="#" id="close">Close</a></li>
            </ul>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
            <div class="clearfix"></div>

        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
            <textarea id="userInput" placeholder="Type a message..." class="usrInput"></textarea>
            <div id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
        </div>
    </div>

    <!--bot profile-->
    <div class="profile_div" id="profile_div">
        <img class="imgProfile" src="{% static 'img/lolly_avatar.png' %}"/>
        <!-- Bot pop-up intro -->
        <div style="background-color: #6a34e2;" class="tap-target"  data-target="profile_div" >
            <div class="tap-target-content" >
                <h5>Hey there 👋</h5>
                <p>Feel free to pop me a message when you're ready!</p>
            </div>
        </div>
    </div>



</div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<!--Chart.js Script -->
<script type="text/javascript" src="{%static 'js/chart.min.js' %}"></script>

{% endblock %}