{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    .tap-target-wrapper {
        width: 1050px;
        height: 1050px;
        position: absolute;
        z-index: 1000;
        visibility: hidden;
        -webkit-transition: visibility 0s .3s;
        transition: visibility 0s .3s;
    }

    .tap-target-wave::before, .tap-target-wave::after {
        /* content: ''; */
        /* display: block; */
        content: none;
        position: fixed;
        border-radius: 20%;
        z-index: 10001;
    }
    h5 {
        font-size: 1.64rem;
        line-height: 300%;
        margin-right: -100px;
        margin-bottom: -15px;
        left: -100px;
        margin-top: -150px;
    }

</style>

<!--code taken and customized to meet my own needs from https://github.com/JiteshGaikwad/Chatbot-Widget-->
<section class="video" >
    <div class="container">
        <di class="row">
            <div class="video-inner">
                <div class="video-content">
                    <h3>
                        <div class="line">
                            <span id="1">Want to get the full</span>
                        </div>
                        <div class="line">
                            <span id="2">Experience? Go ahead</span>
                        </div>
                        <div class="line">
                            <span id="3">and enable your webcam</span>
                        </div>
                    </h3>
                    <p id="subtext">
                        In order to get the full experience,
                        we need to access you webcam to run our
                        facial recognition software to detect the
                        emotions you are displaying. Please refresh
                        the page when you have enabled your camera.
                    </p>
                </div>
                <div class="video-frame">
                    <div class="video-background"></div>
                    <video class="video-cam" id="video"  autoplay muted></video>
                </div>
                <div class="emotion-list">
                    <ul>
                        <li>
                            <h4 class="emotion-title" id="happy">Happy</h4>
                        </li>
                        <li>
                            <h4 class="emotion-title" id="sad">Sad</h4>
                        </li>
                        <li>
                            <h4 class="emotion-title" id="angry">Angry</h4>
                        </li>
                        <li>
                            <h4 class="emotion-title" id="neutral">Neutral</h4>
                        </li>
                        <li>
                            <h4 class="emotion-title" id="surprised">Surprised</h4>
                        </li>
                        <li>
                            <h4 class="emotion-title" id="fearful">Fearful</h4>
                        </li>
                        <li>
                            <h4 class="emotion-title" id="disgusted">Disgusted</h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="error-checking">
                <h4 id="errorHeading">We are not detecting any faces!</h4>
                <p id="errorSubheading">
                    Our facial recognition isn't detecting a face in
                    the webcam. Please adjust your positioning or webcam.
                </p>
            </div>
        </di>
    </div>
</section>
<div class="container-fluid">

    <!--chatbot widget -->
    <div class="widget">
        <div class="chat_header">

            <!--Add the name of the bot here -->
            <span class="chat_header_title">Lolly</span>
            <span class="dropdown-trigger" href='#' data-target='dropdown1'>
                  <i class="material-icons">
                  more_vert
                  </i>
           </span>

            <!-- Dropdown menu-->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#" id="clear">Clear</a></li>
                <li><a href="#" id="restart">Restart</a></li>
                <li><a href="#" id="close">Close</a></li>
            </ul>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
            <div class="clearfix"></div>

        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
            <textarea id="userInput" placeholder="Type a message..." class="usrInput"></textarea>
            <div id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
        </div>
    </div>

    <!--bot profile-->
    <div class="profile_div" id="profile_div">
        <img class="imgProfile" src="{% static 'img/lolly_avatar.png' %}"/>
        <!-- Bot pop-up intro -->
        <div style="background-color: #6a34e2;" class="tap-target"  data-target="profile_div" >
            <div class="tap-target-content" >
                <h5>Hey there 👋</h5>
                <p>Feel free to pop me a message when you're ready!</p>
            </div>
        </div>
    </div>



</div>
<script type="text/javascript" src="{% static 'js/face-api.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/emotionData.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>

    const emotionList = [document.querySelectorAll(".emotion-list ul li")];
    const h1Line = document.querySelectorAll(".line span")
    const videoCam = document.querySelectorAll(".video-frame video")
    const videoBackground = document.querySelectorAll(".video-frame div")
    const contentP = document.querySelector(".video-inner p")
    const neutralAnimation = document.querySelector("#neutral")
    const happyAnimation = document.querySelector("#happy")
    const sadAnimation = document.querySelector("#sad")
    const surprisedAnimation = document.querySelector("#surprised")
    const fearfulAnimation = document.querySelector("#fearful")
    const angryAnimation = document.querySelector("#angry")
    const disgustedAnimation = document.querySelector("#disgusted")
    const errorHeadingAnimation = document.querySelector("#errorHeading")
    const errorSubheadingAnimation = document.querySelector("#errorSubheading")
    const timeLine = gsap.timeline();
    var errorCount = 0;
    timeLine
        .from(h1Line,{
            delay:1,
            y:80,
            opacity:0,
            duration:0.8,
            ease: 'power3.out',
            stagger: {
                amount:0.2
            }
        }).from(contentP,{
        y:-40,
        duration: 0.8,
        opacity: 0,
        ease: "power3.out",
        stagger: {
            amount:0.2
            }
        }).from([videoCam,videoBackground],{
        y:100,
        duration: 0.8,
        opacity: 0,
        ease: "power3.out",
        })

    gsap.from(emotionList, {
        delay:1,
        x:65,
        opacity:0,
        duration: 0.8,
        stagger:{
            amount: 0.6
        }

    })

    $("#errorHeading").css({visibility:"hidden", opacity: 0.0})
    $("#errorSubheading").css({visibility:"hidden", opacity: 0.0})


    /*
    some code taken and customized to suit my needs from https://github.com/WebDevSimplified/Face-Detection-JavaScript
    some code taken and customized to suit my needs from https://github.com/justadudewhohacks/face-api.js/
     */
    var emotion;
    const video = document.getElementById("video")

    Promise.all([
        faceapi.nets.tinyFaceDetector.loadFromUri('/static/js/models'),
        faceapi.nets.faceLandmark68Net.loadFromUri('/static/js/models'), //drawing on face
        faceapi.nets.faceRecognitionNet.loadFromUri('/static/js/models'), //drawing square aorund face
        faceapi.nets.faceExpressionNet.loadFromUri('/static/js/models'), //emotions dections
    ]).then(startVideo)

    function startVideo()
    {
        navigator.getUserMedia({video:{}},
            stream => video.srcObject = stream,
            err => console.log(err)

        )

    }

    video.addEventListener('play', () => {
        const canvas = faceapi.createCanvasFromMedia(video)
        const displaySize= {width: 680, height: 480}

        document.getElementById('1').textContent = 'Great, your camera'
        document.getElementById('2').textContent = 'is on. Lolly will now'
        document.getElementById('3').textContent = 'take care of you'
        document.getElementById('subtext').textContent = 'Since your camera is on, ' +
                                                    ' Lolly will be able to take care of you. Feel free to talk about anything relating to how youre' +
                                                    ' feeling. Conversations between you and Lolly are secure and only visible to you.' +
                                                    ' To chat to Lolly, please click the icon at the bottom right of your screen'


        setInterval(async() => {

            const detections = await faceapi.detectAllFaces(video, new faceapi.TinyFaceDetectorOptions()).withFaceExpressions()
            const resizedDetections =faceapi.resizeResults(detections, displaySize)
            canvas.getContext('2d').clearRect(0,0,canvas.width, canvas.height)
            faceapi.draw.drawFaceExpressions(canvas, resizedDetections)


            try {
                //converting dections into json format
                var json_data = JSON.stringify(detections)

                //changing json data to an jobject so i can parse the data
                var json_obj = JSON.parse(json_data)[0]

                //creating a array with emotions indexed so later i can retrive the type of emotion being displayed
                var Emotions = {Happy:json_obj.expressions.happy, Neutral:json_obj.expressions.neutral, Sad:json_obj.expressions.sad, Angry:json_obj.expressions.angry,
                    Fearful:json_obj.expressions.fearful, Surprised:json_obj.expressions.surprised, Disgusted:json_obj.expressions.disgusted }
                //checking which emotions is being displayed between 0-1. Which ever emotion is presenting a greater than 0.5 value is being taken as the emotioned displayed
                if(Emotions["Happy"] > 0.5)
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Happy";
                    gsap.to(neutralAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                }
                else if(Emotions["Neutral"] > 0.5)
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Neutral";
                    gsap.to(neutralAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                }
                else if(Emotions["Sad"] > 0.5)
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Sad";
                    gsap.to(neutralAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                }
                else if(Emotions["Angry"] > 0.5)
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Angry";
                    gsap.to(neutralAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                }

                else if(Emotions["Fearful"] > 0.5)
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Fearful";
                    gsap.to(neutralAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                }
                else if(Emotions["Surprised"] > 0.5)
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Surprised";
                    gsap.to(neutralAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                }

                else if(Emotions["Disgusted"] > 0.5)
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Disgusted";
                    gsap.to(neutralAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                }
                else
                {
                    if(errorCount != 0)
                    {
                        gsap.to(errorHeadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })

                        gsap.to(errorSubheadingAnimation,{
                            y:50,
                            duration: 0.8,
                            opacity: 0,
                            ease: "power3.out",
                        })
                    }
                    errorCount = 0;
                    emotion = "Neutral"
                    gsap.to(neutralAnimation,{
                        duration: 1.5,
                        opacity: 1,
                        color: '#6a34e2',
                        ease: "power3.out",
                    })
                    gsap.to(happyAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(sadAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(angryAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(fearfulAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(disgustedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                    gsap.to(surprisedAnimation,{
                        duration: 1,
                        opacity: 1,
                        color: 'black',
                        ease: "power3.out",
                    })
                }

                console.log(emotion)
                //sending the emotion to my json server so i can use in rasa
                axios.put('http://localhost:3000/emotion/1', {
                    currentEmotion: emotion
                }).then(resp => {

                    console.log(resp.data);
                }).catch(error => {

                    console.log(error);
                });

                //sending the emotion to my views.py so i can save the emotions with the current logged in user
                $.ajax({
                    type: "POST",
                    url: "/updateEmotions/",
                    data:{
                        emotion: emotion,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    datatype:'json',
                    success: function(data) {
                        if (data['success'])
                            console.log("successfully added to user emotions")
                    }
                });
            }
            catch (error) {
                errorCount++;
                if(errorCount == 1)
                {
                    console.log(errorCount)
                    $("#errorHeading").css({visibility:"visible", opacity: 0})
                    $("#errorSubheading").css({visibility:"visible", opacity: 0})
                    gsap.to(errorHeadingAnimation,{
                        y:-25,
                        duration: 1,
                        opacity: 1,
                        ease: "power3.out",
                    })
                    gsap.to(errorSubheadingAnimation,{
                        y:-25,
                        duration: 1,
                        opacity: 1,
                        ease: "power3.out",
                    })
                }
                console.log('error catched')
            };

        }, 5000)

    })


</script>

<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<!--Chart.js Script -->
<script type="text/javascript" src="{%static 'js/chart.min.js' %}"></script>

{% endblock %}